* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: burlywood;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-heading {
  font-size: 2rem;
}

.main-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: center;
}

.count-heading {
  font-size: 1.5rem;
}

.buttonStyling {
  background-color: rgb(20, 72, 72);
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
  color: white;
}

.buttonStyling:hover {
  background-color: rgb(115, 174, 149);
  cursor: pointer;
  color: black;
  border: none;

}

.btn-wrap {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}